# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

BZObjectStore.xcworkspace/contents.xcworkspacedata
Podfile.lock
Pods/BZRuntime/BZRuntime/BZRuntime.h
Pods/BZRuntime/BZRuntime/BZRuntime.m
Pods/BZRuntime/BZRuntime/BZRuntimeProperty.h
Pods/BZRuntime/BZRuntime/BZRuntimeProperty.m
Pods/BZRuntime/BZRuntime/BZRuntimePropertyEncoding.h
Pods/BZRuntime/BZRuntime/BZRuntimePropertyEncoding.m
Pods/BZRuntime/BZRuntime/BZRuntimePropertyType.h
Pods/BZRuntime/BZRuntime/BZRuntimePropertyType.m
Pods/BZRuntime/LICENSE
Pods/BZRuntime/README.md
Pods/BuildHeaders/BZRuntime/BZRuntime.h
Pods/BuildHeaders/BZRuntime/BZRuntimeProperty.h
Pods/BuildHeaders/BZRuntime/BZRuntimePropertyEncoding.h
Pods/BuildHeaders/BZRuntime/BZRuntimePropertyType.h
Pods/BuildHeaders/ColorUtils/ColorUtils.h
Pods/BuildHeaders/FMDB/FMDatabase.h
Pods/BuildHeaders/FMDB/FMDatabaseAdditions.h
Pods/BuildHeaders/FMDB/FMDatabasePool.h
Pods/BuildHeaders/FMDB/FMDatabaseQueue.h
Pods/BuildHeaders/FMDB/FMResultSet.h
Pods/ColorUtils/ColorUtils/ColorUtils.h
Pods/ColorUtils/ColorUtils/ColorUtils.m
Pods/ColorUtils/LICENCE.md
Pods/ColorUtils/README.md
Pods/FMDB/LICENSE.txt
Pods/FMDB/README.markdown
Pods/FMDB/src/FMDatabase.h
Pods/FMDB/src/FMDatabase.m
Pods/FMDB/src/FMDatabaseAdditions.h
Pods/FMDB/src/FMDatabaseAdditions.m
Pods/FMDB/src/FMDatabasePool.h
Pods/FMDB/src/FMDatabasePool.m
Pods/FMDB/src/FMDatabaseQueue.h
Pods/FMDB/src/FMDatabaseQueue.m
Pods/FMDB/src/FMResultSet.h
Pods/FMDB/src/FMResultSet.m
Pods/Headers/BZRuntime/BZRuntime.h
Pods/Headers/BZRuntime/BZRuntimeProperty.h
Pods/Headers/BZRuntime/BZRuntimePropertyEncoding.h
Pods/Headers/BZRuntime/BZRuntimePropertyType.h
Pods/Headers/ColorUtils/ColorUtils.h
Pods/Headers/FMDB/FMDatabase.h
Pods/Headers/FMDB/FMDatabaseAdditions.h
Pods/Headers/FMDB/FMDatabasePool.h
Pods/Headers/FMDB/FMDatabaseQueue.h
Pods/Headers/FMDB/FMResultSet.h
Pods/Manifest.lock
Pods/Pods-BZRuntime-Private.xcconfig
Pods/Pods-BZRuntime-dummy.m
Pods/Pods-BZRuntime-prefix.pch
Pods/Pods-BZRuntime.xcconfig
Pods/Pods-ColorUtils-Private.xcconfig
Pods/Pods-ColorUtils-dummy.m
Pods/Pods-ColorUtils-prefix.pch
Pods/Pods-ColorUtils.xcconfig
Pods/Pods-FMDB-Private.xcconfig
Pods/Pods-FMDB-dummy.m
Pods/Pods-FMDB-prefix.pch
Pods/Pods-FMDB.xcconfig
Pods/Pods-acknowledgements.markdown
Pods/Pods-acknowledgements.plist
Pods/Pods-dummy.m
Pods/Pods-environment.h
Pods/Pods-resources.sh
Pods/Pods.xcconfig
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/TakeshiShimada.xcuserdatad/xcschemes/Pods-BZRuntime.xcscheme
Pods/Pods.xcodeproj/xcuserdata/TakeshiShimada.xcuserdatad/xcschemes/Pods-ColorUtils.xcscheme
Pods/Pods.xcodeproj/xcuserdata/TakeshiShimada.xcuserdatad/xcschemes/Pods-FMDB.xcscheme
Pods/Pods.xcodeproj/xcuserdata/TakeshiShimada.xcuserdatad/xcschemes/Pods.xcscheme
Pods/Pods.xcodeproj/xcuserdata/TakeshiShimada.xcuserdatad/xcschemes/xcschememanagement.plist
